html {
  font-family: sans-serif;
}
div {
  text-align: center;
  text-shadow: 1px 1px 1px white;
  margin: auto;
 
  width: 300px;
  height: 250px;
  margin: 80px auto;
  border: 2px solid rgb(212, 45, 45);
  border-radius: 10px;
  box-shadow: 2px 3px 2px  rgba(254, 254, 255), inset -2px -2px 4px rgb(0, 0, 0);
  
  color: #ffffff;
  background-color: rgb(203, 27, 27); 
  font-size : 1.25rem;
  line-height: 250px;

}
/* Your CSS below here */